include block_html/_style.pug
include block_html/_include.pug



.slide-menu
	.slide-menu__list
		+icon("close","icon icon-close")
		a(href="#cards" rel='m_PageScroll2id').slide-menu__list-el Карточка
		a(href="#sale" rel='m_PageScroll2id').slide-menu__list-el Допродажи
		a(href="#order" rel='m_PageScroll2id').slide-menu__list-el Оформление заказа
		a(href="#castom" rel='m_PageScroll2id').slide-menu__list-el Кастомизация
		a(href="#page" rel='m_PageScroll2id').slide-menu__list-el Страницы
		a(href="#adaptive" rel='m_PageScroll2id').slide-menu__list-el Адаптив
.banner(style="background-image:url('img/banner-bg.png')")
	.header
		.main-cont
			.header-wrap
				a(href="/").header-logo
					img(src="img/logo-light.svg", alt="")
				.header-menu
					a(href="#cards" rel='m_PageScroll2id').header-menu__el Карточка
					a(href="#sale" rel='m_PageScroll2id').header-menu__el Допродажи
					a(href="#order" rel='m_PageScroll2id').header-menu__el Оформление заказа
					a(href="#castom" rel='m_PageScroll2id').header-menu__el Кастомизация
					a(href="#page" rel='m_PageScroll2id').header-menu__el Страницы
					a(href="#adaptive" rel='m_PageScroll2id').header-menu__el Адаптив
				.head-toggle
					+icon("menu","icon icon-open")
	.banner-content-wrap
		.main-cont
			.banner-content
				.banner-slogan(data-aos="fade-in" data-aos-delay="250" data-aos-duration="1000")
					.banner-slogan__title Запустите свой сайт доставки
					.banner-slogan__text Шаблон доставки блюд, интегрированный с iikoчерез iikoDelivery widget
					div(data-modal="order").modal-get.banner-slogan__get Оставить заявку
				.banner-slogan__img(data-aos="zoom-in" data-aos-delay="750" data-aos-duration="800")
					img(src="img/main-banner-img.png", alt="")

//advant
.section.section-advant
	.main-cont
		.advant
			.advant-el(data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="800" )
				.advant-el__icon
					img(src="img/launch.svg", alt="")
				.advant-el__title Быстрый старт
				.advant-el__text Запуск в течении 7 дней, после подписания договора. Сайт полностью готов и настроен, можно продавать с первого дня
			.advant-el(data-aos="zoom-in" data-aos-delay="1250" data-aos-duration="800" )
				.advant-el__icon
					img(src="img/money.svg", alt="")
				.advant-el__title Малый бюджет
				.advant-el__text Запуск в течении 7 дней, после подписания договора. Сайт полностью готов и настроен, можно продавать с первого дня
			.advant-el(data-aos="zoom-in" data-aos-delay="1500" data-aos-duration="800" )
				.advant-el__icon
					img(src="img/cook.svg", alt="")
				.advant-el__title Быстрый старт
				.advant-el__text Запуск в течении 7 дней, после подписания договора. Сайт полностью готов и настроен, можно продавать с первого дня

//variable
#cards.section.section--gray.section-variable
	.main-cont
		.variable
			.variable-img(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1200")
				img(src="img/cards.png", alt="")
			.variable-content(data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1200")
				.variable-title Вариации карточки товара
				.variable-text Её характеристики могут изменяться в зависимости от продаваемого блюда: меняется информация и размер, высвечиваются теги. При необходимости можно добавить модификаторы
				.variable-get-row
					div(data-modal="order").modal-get.variable-get-el.variable-get-dark Оставить заявку
					a(href="#").variable-get-el.variable-get-light Подробнее

//convers
.section.section-convers#sale
	.main-cont
		#parallaxScene.scene.scene--bg(data-aos="fade-in" data-aos-delay="1500" data-aos-duration="1200")
			.bg-icon.bg-icon-conv--fish(data-depth="0.2" )
				img(src="img/fish.svg", alt="")
			.bg-icon.bg-icon-conv--spageti(data-depth="0.3")
				img(src="img/spageti.svg", alt="")
			.bg-icon.bg-icon-conv--aplle(data-depth="0.4")
				img(src="img/aplle.svg", alt="")
			.bg-icon.bg-icon-conv--pizza(data-depth="0.3" data-invert-x="1" data-invert-Y="1")
				img(src="img/pizza.svg", alt="")
			.bg-icon.bg-icon-conv--donnat(data-depth="0.1")
				img(src="img/donnat.svg", alt="")
			.bg-icon.bg-icon-conv--cake(data-depth="0.25")
				img(src="img/cake.svg", alt="")

		.convers-title(data-aos="fade-down" data-aos-delay="500" data-aos-duration="1200") Увеличение конверсии с помощью допродаж
		.convers-text(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1200") На нашем сайте предусмотрена возможность допродаж прямо из карточки товара. Возможность выбора дополнительных ингредиентов позволяют значительно увеличить конверсию
		.convers-img(data-aos="flip-up" data-aos-delay="1000" data-aos-duration="1200")
			img(src="img/laptop.png", alt="")

//custom
.section.section-custom#castom
	.section-custom-wave(style="background-image:url('img/pattern.png')")
	.main-cont
		.custom-wrap
			.custom-title(data-aos="fade-down" data-aos-delay="500" data-aos-duration="1200") Кастомизация
			.custom-text(data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1200") Пределу совершенства нет — шаблон поддерживает изменения дизайна. В качестве дополнительной услуги мы можем адаптировать сайт в соответствии с корпоративным стилем компании
			div(data-modal="order" data-aos="zoom-in" data-aos-delay="1500" data-aos-duration="800").modal-get.custom-get Оставить заявку
			.custom-img(data-aos="fade-up" data-aos-delay="1800" data-aos-duration="1200")
				img(src="img/custom.png", alt="")

//makeout
.section.section--gray.section-makeout
	.main-cont
		#parallaxScene2.scene--bg(data-aos="fade-in" data-aos-delay="1200" data-aos-duration="1200")
			.bg-icon.bg-icon-conv--fish(data-depth="0.2" )
				img(src="img/fish.svg", alt="")
			.bg-icon.bg-icon-conv--spageti(data-depth="0.3")
				img(src="img/star.svg", alt="")
			.bg-icon.bg-icon-conv--aplle(data-depth="0.4")
				img(src="img/purse.svg", alt="")
			.bg-icon.bg-icon-conv--pizza(data-depth="0.3" data-invert-x="1" data-invert-Y="1")
				img(src="img/coins.svg", alt="")
			.bg-icon.bg-icon-conv--donnat(data-depth="0.1")
				img(src="img/doc.svg", alt="")
			.bg-icon.bg-icon-conv--cake(data-depth="0.25")
				img(src="img/cards.svg", alt="")
		.makeout-title(data-aos="fade-down" data-aos-delay="250" data-aos-duration="1200") Удобное оформление заказа
		.makeout-text(data-aos="fade-up" data-aos-delay="500" data-aos-duration="1200") Заказы с сайта сразу попадают сразу в iiko. Клиент может выбрать наиболее удобный способ оплаты: онлайн (<a href="#" class="link-mark">о подключенных банках можете узнать тут</a>), наличный, безналичный (картой курьеру) и промо коды при наличии системы лояльности iikoCard5.
		.makeout-img(data-aos="flip-up" data-aos-delay="1000" data-aos-duration="1200")
			img(src="img/order.png", alt="")

//work
.section.section-work#page
	.main-cont
		.work
			.work-content(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500")
				.work-title Всё готово к работе
				.work-text
					p Сайт содержит сразу полный набор страниц необходимый для доставки. Вам лишь остается заполнить их своей информацией.
					p Страницы- контакты, о нас, акции, условия доставки и оплаты, вакансии, отзывы, контентная страница (для статических статей, например договор публичной оферты или конфиденциальности)
			.work-img(data-aos="fade-left" data-aos-delay="750" data-aos-duration="1200")
				img(src="img/slider.png", alt="")
				.work-slider-wrap
					.work-slider
						- for (var i=0;i<4;i++)
							.work-slider__el(style="background-image:url('img/slider-el.jpg')")

//adaptive
.section.section-adaptive#adaptive
	.section-adaptive-wave(style="background-image:url('img/pattern.png')")
	.main-cont
		.adaptive
			.adaptive-img(data-aos="fade-down" data-aos-delay="500" data-aos-duration="1200")
				img(src="img/adaptive.png", alt="")
			.adaptive-content(data-aos="fade-up" data-aos-delay="7500" data-aos-duration="1200")
				.adaptive-title Адаптивный дизайн
				.adaptive-text Сайт адаптирован под мобильные устройства и широкоэкранные форматы

//order
.section.section--gray.section-order#order
	.main-cont
		.order-wrap
			.order(data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1200")
				.order-title Оставьте заявку
				.order-text Мы свяжемся с вами в ближайшее <br> время и уточним все детали
				form(action="#")
					.input-row
						input(type="text" placeholder="Имя" class="input")
					.input-row
						input(type="text" placeholder="Телефон" class="input")
					.order-footer
						.order-footer__text Нажимая кнопку "Отправить" вы даете согласие на
							a(href="#").link-mark обработку персональных данных
						input(type="submit" value="Отправить" class="order-footer__get")

.footer-wrap
	.main-cont
		.footer
			a(href="#").footer-col.footer-logo
				img(src="img/logo-footer.svg", alt="")
			.footer-col.footer-info
				a(href="#").footer-link Информация по настройке шаблона
			.footer-col.footer-politic
				a(href="#").footer-link Политика конфиденциальности

.modal-layer
	.modal-filter
	.modal-wrap
		.modal(data-modal="order")
			.modal-content
				.modal-close
					+icon("close","icon")
				.modal-title Оставьте заявку
				.modal-text Мы свяжемся с вами в ближайшее время и уточним все детали
				form.validate-form( action="javascript:void(null);")
					.input-row
						input(type="text" name="name" placeholder="Имя").input
					.input-row
						input(type="text" name="phone" placeholder="Телефон").input
					.agree-row
						.agree-row__text Нажимая кнопку "Отправить" вы даете согласие
							a(href="#") на обработку персональных данных
						input(type="submit" value="Отправить").modal-send
		//success message
		.modal(data-modal="truemessage")
			.modal-content.modal-content--true
				+icon("interface","icon")
				.modal-text-true Ваша заявка принята

include ./block_html/_script.pug
